.line {
  float: right;
  display: block;
  color: #eaeaea;
  margin: auto -20px;
  font-weight: bolder;
}

.nav {
  width: 100%;
}

.navList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.navItem {
  color: gray;
  font-weight: 600;
  padding: 10px 0;
}
