.header {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 50px;
}

.buttonWrapper {
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
}

.button {
  color: gray;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.fill {
  background-color: #eaeaea;
}

.outline {
  border: 2px solid #eaeaea;
}

.userWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: gray;
  font-weight: 600;
}

.name:after {
  content: "|";
  padding: 0 5px;
  float: right;
  display: block;
}

.heartIcon {
  width: 18px;
  height: 18px;
  display: inline-block;
  stroke-width: 2.5px;
}
